[submodule "Tracksoar/Firmware/arduino-libraries/SparkFun_BME280_Arduino_Library"]
	path = Tracksoar/Firmware/arduino-libraries/SparkFun_BME280_Arduino_Library
	url = https://github.com/sparkfun/SparkFun_BME280_Arduino_Library.git
